/target
node_modules/
/ui/dist
/ui/test-results
/ui/playwright-report
crates/*/bindings/
*.log
/src-tauri/target
/src-tauri/gen
/src-tauri/binaries/
/ui/e2e/.cache

# bundled engine binaries are added by the CI
/src-tauri/resources/engines/*
!/src-tauri/resources/engines/bundled.json
!/src-tauri/resources/engines/README.md
